@keyframes slideFromRight{
    from{
        width: 0%;
    }
    to{
        width:100%;
        
    }
}
.slide-from-right.active{
    animation: slideFromRight 5s ease 0;
    overflow-x: hidden;
}
//use activation class tpo activate animations