.hero-title {
  position: relative;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
}
.hero-title h1 {
  color: #101010;
  line-height: 1.2em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 90pt;
  z-index: 11;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-content {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1rem;
}
.hero-content section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;
  margin: 3rem;
}
@media screen and (max-width: 900px) {
  .hero-content section {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 1rem;
  }
}
.hero-content section img {
  max-height: 90%;
}