<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/pages/miscGlobal.css">
    <link rel="stylesheet" href="/pages/Layout/layout.css">
    <script src="https://kit.fontawesome.com/733f6f28f5.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class = "navigation"> 
        <button onclick = "linkTo('/pages/homepages/gallery.html')">  <i class="fa-solid fa-images"></i></button>
        <button onclick = "linkTo('/index.html')"><i class="fa-solid fa-home"></i></button>
        <button onclick = "linkTo('/pages/homepages/about.html')"><i class = "fa-solid fa-info" style="color:white;"></i></button>
    </div>
    
    <div id = "demo-wrapper">
        <div id="hero-section">
            <img id = "hero-background" src="/Images/847127-zen-Stones-Sand.png" alt="">

            <h1 id="title">Layout</h1>
        </div>
        <div id = "front-page-paragraph">
            <p>Layout is the fomration of a design. Where the title goes and where the images are and how big and where the body copy should go imagine if this page had no design what would be legible what content would be confusing? </p>
           
            <div class = "paragraph-image">
                <img src="/Images/LayoutBad-01.png" alt="">
            </div>
            <p>
                Lets look at the layout above, what are the important subjects? You cant tell becasue the layout does not properly organise the content. With a better layout the order in which you view content becomes clear.
            </p>
            
            <div id = "next-or-back">
                <button onclick="linkTo('/pages/Colortheory/colortheory.html');"><i class = "fa-solid fa-arrow-left"></i></button>
                <button onclick="linkTo('/pages/DeceptivePages/deceptive.html');" ><i class = "fa-solid fa-arrow-right"></i> </button>
            </div>
        </div>
        <script src="/scripts/general.js"></script>
</body>
</html>