body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 0;
    font-size: 20pt;
}
input[type="checkbox"]{
    width: 1.5em;
    height: 1.5em;
}
button{
    background-color: #7197ff;
    border: none;
    padding: 10px;
}


#delete-account{
    display: grid;
    align-items: center;
    justify-content: center;
}
#delete-account .modal{
    position: relative;
    display: grid;
    width: 50vw;
    min-width:600px;
    padding: 10pt;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #88dd;
}
#site-intro{
    display: grid;
    background: url("/wallet.png");
    background-size:cover;
    background-attachment:scroll;
    grid-template-columns: 50% auto;
    height: 100vh;
}
#site-intro>div{
    max-height: 100%;
    height:100%;
    background-color: rgb(112, 150, 255, .7);
    align-self: center;
    font-size: 50pt;
    color: #ffffff;
}
#site-intro>div>*{
    margin: 25px;
}
.fancy-switch{
    display: inline-block;
    position:relative;
    background-color: rgb(35, 35, 92);
    width: .1;
    height: 0;
}
.fancy-switch input{
    opacity: 0%;
}
.fancy-switch .slide{
    display: inline-block;
    position: absolute;
    background-color: #ccc;
    width: 64px;
    height: 34px;
}
.fancy-switch .slide::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    margin: 2px 0px 0px 2px;
    transform: translate();
    transition: 300ms;
    background: rgb(147, 47, 147);
}
.fancy-switch input:checked + .slide::before{
    background: blue;
    transform: translateX(100%);
}
#extra-settings{
    display: grid;
    grid-template-columns: 2.5em 2.5em 2.5em;
    grid-gap: 3px;
    
    transform-origin:left;
    transform: scale(0,1);
    transition: 250ms;

}
#extra-settings.show{
    transform-origin:left;
    transform: scale(1,1);
    transition: 250ms;
    display: grid;
    grid-template-columns: 2.5em 2.5em 2.5em;
    grid-gap: 3px;
}
.navigation{
    font-size:10pt;
    overflow: hidden;
    position: sticky;
    top:0;
    z-index: 4;
    display: grid;
    grid-template-columns: auto 2.5em 2.5em 2.5em 2.5em 2.5em;
    grid-template-rows: 2.5em;
    grid-gap: 3px;
    background-image: linear-gradient(#fbdd65,#edbf5d);
}
.navigation>*{
    padding: 0px;
    margin: 0px;     
}
.navigation>button.show{
    background-color: #5f70d2;
}

#demo-about{
    position: absolute;
    display:grid;
    transform-origin: top center;
    transform: scale(1,0);
    transition: 200ms;
    margin: 0;
    padding: 0;
    z-index: 3;
}
#demo-about.show{
    position: absolute;
    display: grid;
    top:.25em;
    z-index: 3;
    background-image: linear-gradient(rgb(22, 22, 22), rgba(108, 108, 108, 0.3) 85%,  rgba(108, 108, 108, 0) 99%);
    color: white;
    justify-items: center;
    height: 5em;
    width: 100vw;

    transform: scale(1,1);
    transition: 600ms;
}

.classic-modal{
    display: block;
    position: absolute;

    width: 80vw;
    max-width:520px ;
    height: 60vh;

    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}

#login-modal{
transform: translate(-50%,-50%) scale(0); 
transition: 300ms;
}
#login-modal.show{
    transform: translate(-50%,-50%) scale(1);/* REEEE */
    transition: 300ms;
}
#login-modal>section{
    display: grid;
    background-color: #cdf;
    padding: 30px;
    grid-gap: 9px;
}
#deletion-shame, #deletion-shame-two{
    opacity: 0%;
}
#deletion-shame.show, #deletion-shame-two.show{
    opacity: 100;
}






.modal-background{
    background-color: black;
    opacity: 75%;
    display: block;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    z-index: 98;
}